.header {
  display: flex;
  flex-direction: column;

  margin-bottom: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
}

.content > * {
  margin-bottom: 1rem;
}

.content > *:last-child {
  margin-bottom: 0;
}

.content > h1,
.content > h2 {
  margin-bottom: .3rem;
}
