@import url("https://fonts.googleapis.com/css2?family=Hahmlet:wght@100..900&family=Sono:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* White */
  --bg-colour: #fff;

  /* Black */
  --highlight-colour: #111;

  /* Dune */
  --heading-colour: #222;

  /* Silver */
  --paragraph-colour: #555;

  --accent-colour: #e9eb93;
  --accent-colour-2: #fafbe5;
  /* Primrose */

  --font-code: Sono, monospace;
  --font-heading: Hahmlet, serif;
  --font-paragraph: Hahmlet, serif;
}

body {
  margin: 4rem;
  max-width: 40%;
}

::selection {
  background-color: var(--accent-colour);
}

::moz-selection {
  background-color: var(--accent-colour);
}

@media (max-width: 768px) {
  body {
    margin: 2rem;
    max-width: 70%;
  }
}

p {
  font-family: var(--font-paragraph);
  font-size: 1.5rem;
  color: var(--paragraph-colour);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  color: var(--heading-colour);
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.2rem;
}

div:not(:last-child) {
  margin-bottom: 1.4rem;
}

a {
  text-decoration: none;
  color: var(--paragraph-colour);
}

a.lowkey {
  background-color: #fff !important;
}

a.back {
  background-color: #fff !important;
}

a.back::before {
  /* ↩ */
  content: "\21A9";
  font-variant: none;
  text-decoration: none;
  display: inline-block;
  margin-right: 0.5rem;
}

a:not(.back)::after {
  /* ↗ */
  content: "\2197";
  font-variant: none;
  text-decoration: none;
  display: inline-block;
  margin-left: 0.2rem;
}

ul {
  margin-top: 1rem;
  margin-bottom: 1rem;

  padding-left: 1rem;
  padding-right: 1rem;

  list-style: none;
  counter-reset: list;

  border-left: 6px solid var(--accent-colour);
}

li {
  counter-increment: list;

  color: var(--paragraph-colour);
  font-family: var(--font-paragraph);
  font-size: 1.5rem;

  margin-bottom: 0.3rem;
}

li::before {
  content: counter(list) ". ";
  font-size: 1.5rem;
  color: var(--highlight-colour);
  margin-right: 0.5rem;
}

.highlight,
a,
em {
  background-color: var(--accent-colour);
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  font-style: normal;
}

#posts-container {
  padding-left: 0.7rem;
  border-left: 6px solid var(--accent-colour);
}

.canvas-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: -1;
}

#three-canvas {
  width: 100%;
  height: 100%;
}
