@import url("base.css");

h1 a.back {
    font-family: var(--font-heading) !important;
}

h2 {
    margin-top: 1.7rem;
}

h2:first-of-type {
    margin-top: 0;
}

h3 {
    margin-top: 1.7rem;
}

.circle {
    border-radius: 50%;
    height: .8rem;
    width: .8rem;
    margin-right: .4rem;
    display: inline-block;
    vertical-align: middle;
}

.circle.white { background-color: var(--bg-colour); }
.circle.primrose { background-color: var(--accent-colour); }
.circle.black { background-color: var(--highlight-colour); }
.circle.dune { background-color: var(--heading-colour); }
.circle.silver { background-color: var(--paragraph-colour); }

blockquote {
    font-style: italic;
    border-left: 3px solid var(--accent-colour);
    padding-left: 1rem;
}