@import url("https://fonts.googleapis.com/css2?family=Sono:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* White */
  --bg-colour: #fff;

  /* Black */
  --highlight-colour: #111;

  /* Dune */
  --heading-colour: #222;

  /* Silver */
  --paragraph-colour: #555;

  --accent-colour: #e9eb93;
  --accent-colour-2: #fafbe5;
  /* Primrose */

  --font-code: Sono, monospace;
  --font-heading: serif;
  --font-paragraph: serif;
}

body {
  margin: 4rem auto;
  width: min(800px, 85%);
}

body div {
  margin: auto;
  width: min(650px, 90%);
  max-width: 100%;
}

::selection {
  background-color: var(--accent-colour);
}

::moz-selection {
  background-color: var(--accent-colour);
}

p {
  font-family: var(--font-paragraph);
  font-size: 1.5rem;
  color: var(--paragraph-colour);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  color: var(--heading-colour);
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  background-color: #fff;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.2rem;
}

div:not(:last-child) {
  margin-bottom: 1.4rem;
}

a {
  text-decoration: none;
  color: var(--paragraph-colour);
}

a.lowkey {
  background-color: #fff !important;
}

a.back {
  background-color: #fff !important;
}

a.back::before {
  /* ↩ */
  content: "\21A9\FE0E";
  text-decoration: none;
  display: inline-block;
  margin-right: 0.5rem;
}

a:not(.back)::after {
  /* ↗ */
  content: "\2197\FE0E";
  text-decoration: none;
  display: inline-block;
  margin-left: 0.2rem;
}

ul {
  margin-top: 1rem;
  margin-bottom: 1rem;

  padding-left: 1rem;
  padding-right: 1rem;

  list-style: none;
  counter-reset: list;

  border-left: 6px solid var(--accent-colour);
}

.tags {
  all: unset;

  display: inline;
  margin-right: 0.5rem;

  font-size: 1.5rem;
}

.tags span {
  font-size: 1rem;

  display: inline-block;
  vertical-align: 0.2em;
}

li {
  counter-increment: list;

  color: var(--paragraph-colour);
  font-family: var(--font-paragraph);
  font-size: 1.5rem;

  margin-bottom: 0.3rem;
}

li::before {
  content: counter(list) ". ";
  font-size: 1.5rem;
  color: var(--highlight-colour);
  margin-right: 0.5rem;
}
.even-list li p {
  margin-left: 2rem;
  margin-top: 0;
}

.even-list li:not(:last-child) {
  margin-bottom: 1rem;
}

.highlight,
a,
em,
code {
  background-color: var(--accent-colour);
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  font-style: normal;

  font-family: serif;
}

h1 a.back {
  font-family: var(--font-heading) !important;
  color: var(--heading-colour) !important;
}

h2 {
  margin-top: 1.7rem;
}

h2:first-of-type {
  margin-top: 0;
}

h3 {
  margin-top: 1.7rem;
}

h4 {
  margin-top: 1.7rem;
}

:where(h1, h2, h3, h4, h5, h6) > a {
  color: var(--heading-colour);
}

.circle {
  border-radius: 50%;
  height: 0.8rem;
  width: 0.8rem;
  margin-right: 0.4rem;
  display: inline-block;
  vertical-align: middle;
}

.circle.white {
  background-color: var(--bg-colour);
}
.circle.primrose {
  background-color: var(--accent-colour);
}
.circle.black {
  background-color: var(--highlight-colour);
}
.circle.dune {
  background-color: var(--heading-colour);
}
.circle.silver {
  background-color: var(--paragraph-colour);
}

blockquote {
  font-style: italic;
  border-left: 3px solid var(--accent-colour);
  padding-left: 1rem;
}

pre {
  color: var(--paragraph-colour);
  padding: 1rem;
  background-color: var(--accent-colour-2) !important;
  border-radius: 0.3rem;
  overflow-x: auto;
}

code[class*="language-"],
pre[class*="language-"] {
  font-family: var(--font-code);
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "MONO" 1;

  background-color: var(--accent-colour-2) !important;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;

  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #999;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #9a6e3a;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

.token.function,
.token.class-name {
  color: #dd4a68;
}

.token.regex,
.token.important,
.token.variable {
  color: #e90;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.post-date {
  font-size: 1.4rem;
  font-weight: bold;
  font-family: serif;
}

.post-date + * {
  margin-top: 1.5rem !important;
}

.footnote-definition {
  display: flex;
  margin-top: 1rem;
}
