{% extends "base.html" %}

{% block extra_head %}
<!-- Regular -->
<meta name="description" content="Enchantress of digital ecosystems; making computers behave since 2006." />
<meta name="keywords" content="Faye Keller, digital ecosystems, self-improvement, technology, web development" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ get_url(path=" /") }}" />
<meta property="og:title" content="Faye Keller" />
<meta property="og:description" content="Enchantress of digital ecosystems; making computers behave since 2006." />

<!-- Twitter -->
<meta property="twitter:url" content="{{ get_url(path=" /") }}" />
<meta property="twitter:title" content="Faye Keller" />
<meta property="twitter:description" content="Enchantress of digital ecosystems; making computers behave since 2006." />
{% endblock extra_head %}

{% block content %}
<div>
    <h1>Faye Keller</h1>
    <p>
        <span class="highlight">Enchantress</span> of
        <a href="https://git.sr.ht/~pixie/rin" target="_blank" rel="noopener noreferrer">
            digital ecosystems</a>
        <br />
        Making computers behave since <span class="highlight">2006.</span><br />
        <br />
        Forever in a journey of <span class="highlight">self-improvement,</span><br />
        <span class="highlight">Trying to weave a connection</span>,<br />
        And <span class="highlight">accepting</span> the self.<br />
    </p>
</div>

<div>
    <h1>Web</h1>
    <p>
        Sometimes I <span class="highlight">think ;</span> sometimes I
        <span class="highlight">write</span>. <br />
        This is my <span class="highlight">web of thoughts.</span>
        <br>
        <br />

    <ul class="tags">
        {%- set tags = get_taxonomy(kind="tags") %}
        {% for tag in tags.items %}
        <a href="{{ tag.permalink | trim_end_matches(pat='/') | safe }}">
            {{ tag.name }}
            <span class="count">{{ tag.pages | length }}</span>
        </a>
        {% if loop.index % 3 == 0 %}
        <br />
        {% endif %}
        {% endfor %}
    </ul>

    </p>
</div>
{% endblock %}
