{% extends "base.html" %}

{% block content %}

{% block extra_head %}

<!-- Open Graph / Facebook -->
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ term.permalink }}" />
<meta property="og:title" content="{{ term.name | capitalize }}" />
<meta property="og:description" content="All its posts regarding {{ term.name | capitalize }}" />

<!-- Twitter -->
<meta property="twitter:url" content="{{ term.permalink }}" />
<meta property="twitter:title" content="{{ term.name | capitalize }}" />
<meta property="twitter:description" content="All its posts regarding {{ term.name | capitalize }}" />

<meta name="description" content="All its posts regarding {{ term.name | capitalize }}" />
{% endblock %}

<main>
    {%- if term %}
    <h1><a class="back" href="/">{{ term.name | capitalize }}</a></h1>

    {%- endif %}
    <ul class="even-list">
        {%- for page in term.pages %}
        <li>
            <span>
                <i>
                    <time datetime="{{ page.date | date(format='%+') }}" pubdate>
                        {{ page.date | date(format="%d/%m — %Y") }}
                    </time>
                </i>
            </span>
            <a href="{{ page.permalink | trim_end_matches(pat='/') | safe }}">{{ page.title }}</a>
            <p>{{ page.description }}</p>
        </li>
        {%- endfor %}
    </ul>
</main>

{% endblock %}
