@font-face {
  font-family: "Prociono";
  src: url("/fonts/prociono.otf") format("opentype");
}

@font-face {
  font-family: "Fanwood";
  src: url("/fonts/fanwood.otf") format("opentype");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*,
body {
  margin: 0;
  padding: 0;
}

body {
  padding: 2rem;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;

  width: 400px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Prociono", serif;
  font-weight: 300;

  line-height: 1.4;
}

h1 {
  font-size: 99%;
}

h2 {
  font-size: 82%;
}

p {
  font-family: "Fanwood", serif;
  color: #111;
}

span.highlight {
  color: inherit;

  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-decoration-color: rgb(255, 192, 203);

  text-decoration-thickness: 0.6rem;
  text-underline-offset: -0.5rem;
}

a {
  color: #111;

  text-decoration-style: wavy;

  text-decoration-color: rgb(255, 192, 203);
  text-decoration-skip-ink: none;
  text-underline-offset: -0.02rem;
}
